API_BASE_URL=
AUTH_API_BASE_URL=
AUTH_COOKIE_ACCESS_NAME=
AUTH_COOKIE_REFRESH_NAME=
AUTH_PATH_TOKEN=
AUTH_PATH_LOGIN=
AUTH_PATH_LOGOUT=
AUTH_PATH_CERT_MAIL=
AUTH_PATH_CERT_CHECK=
AUTH_PATH_JOIN=
AUTH_PATH_USER_INFO=
AUTH_PATH_SUBSCRIPTION=
AUTH_PATH_WITHDRAW=
AUTH_PATH_PASSWORD=
AUTH_PATH_TERMS_LIST=
AUTH_PATH_TERMS_INFO=
AUTH_PATH_AGREEMENTS=
AUTH_PATH_AGREE=
MARKET_PATH_TICKER_EXISTS=
MARKET_PATH_CANDLES=
MARKET_PATH_HOLDINGS=
MARKET_PATH_AVERAGE_TRADE_PRICES=
MARKET_PATH_HOLDING_CHANGES=
MARKET_PATH_POWER=
MARKET_PATH_DIRECTION=
MARKET_PATH_RS=
MARKET_PATH_SEARCH_PRICE=
MARKET_PATH_SEARCH_PROFIT=
MARKET_PATH_SEARCH_HOLDING=
